@import url("https://fonts.googleapis.com/css2?family=B612+Mono&family=DM+Serif+Display:ital@0;1&display=swap");
@import "_variables";
@import "_elements";

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "DM Serif Display", monospace;
  .header{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 50px;
    .nav{
      display: flex;
      align-items: center;
      &:hover{
        cursor: pointer;
        background-color: #e0e1e2;
      }
      .logo{
        height: 100%;
        
        display: flex;
        align-items: center;
        padding-right: 50px;
        font-size: 30px;
        padding-left: 10px;
        &:hover{
          color: white;
        }
      }
      .logo_right{
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        &:hover{
          .logo_div{
          color: white;
          }
        }
        .logo_div{
          font-size: 30px;
          margin-right: 50px;
          color: #d6d7d8;
          
        }
      }
      
      }
      .second{
        .second_first{
          padding-left: 15px;
        }
        &:hover{
          cursor: pointer;
          background-color: #e0e1e2;
        }
        
        
      }
      
    }
    .second{
      display: flex;
      align-items: center;
      justify-content: space-between;
      
      .second_first{
        margin-right: 20px;
        font-size: 30px;
      }
      .second_down{
        align-self: flex-end;
        margin-bottom: 12px;
      }
    }
  }


  main{
    display: grid;
    // height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(2,minmax(420px,1fr));
    .photo{
      margin-bottom: 35px;
      .img_main{
        width: 100%;
        height: 100%;
        background-image: url("http://www.z-o-o.fr/thumbs/works/moco-montpellier-contemporain/zoofr-moco-02-800x533-q80.jpg");
        background-size: cover;
        background-position: center;
        &:hover{
          cursor: pointer;
        }
      }
      .naming{
        padding: 12px;
        font-size: 14px;
        
      }
    }
  }
